.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.top{
    display: flex;
}

.imgContainer{
    width: 90%;
    height: 250px;
    position: relative;
}

.postImg{
    object-fit: cover;
}

.date{
    font-size: small;
    transform: rotate(270deg);
    margin: auto;
}

.title{
    font-size: 24px;
    margin-bottom: 20px;
    width: 90%;

}

.desc{
    margin-bottom: 20px;
    font-weight: 300;
    color: gray;
    width: 90%;
}

.pageLink{
    text-decoration: underline;
}