.container{
    display: flex;
    gap: 100px;
}

.imgContainer{
    flex: 1;
    position: relative;
    height: calc(100vh - 200px - 100px);
}

.postImg{
    object-fit: cover;
}

.textContainer{
    flex: 2;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 5=64px;
}

.detail{
    display: flex;
    gap: 20px;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
}

.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailTitle{
    color: gray;
    font-weight: bold;
}

.detailValue{
font-weight: 500;
}

.contemt{
    font-style: 20px;
}

@media screen and (max-width: 768px) {
    .imgContainer{
display: none;
    }
}


