/* LoginPage.module.css */

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .githubButton {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #24292e; /* GitHub color */
    color: #fff;
    cursor: pointer;
  }
  
  .githubButton:hover {
    background-color: #1b1f23; /* Darker GitHub color on hover */
  }
  